body,div{padding:0;margin:0;border:0;font-family:'宋体';}
body{height: auto; min-height: 248px;}
.game_content{min-width:320px;width:320px;margin:0 auto;}
#restart{float:left;display:block;width:40px;line-height:30px;text-align:center;background-color:#FF8C00;color:white;font-weight:bold;font-size:12px;cursor:pointer;border:1px solid #ccc;border-radius:3px;}
#undo{margin:0 5px; float:left;display:block;width:50px;line-height:30px;text-align:center;background-color:#FF8C00;color:white;font-weight:bold;font-size:12px;cursor:pointer;border:1px solid #ccc;border-radius:3px;}
.scorediv{float:right;right: 10px;position: relative;}
#grid {min-width:320px;min-height:320px;}
#message {width:160px;border-radius:4px;border:1px solid #ccc;;display:none;}
#message .title{height:20px;background-color:#000000;text-align:center;line-height:20px;font-size:18px;color:white;padding:5px 0;border-radius: 4px 4px 0 0;}
#tipContent{font-size:12px;padding:5px 5px;line-height:20px;}
#message .ok{font-size:18px;background-color:#FF8C00;color:white;text-align:center;line-height:30px;border-radius: 0 0 4px 4px ;}
.dirBtn{width:32px;height:32px;background-color:#FF8C00;cursor:pointer;float: left;border: 1px solid #ccc;border-radius: 3px;line-height: 32px;text-align: center;}
